# {{ ansible_managed }}

[Unit]
Description=etcd - highly-available key value store
Documentation=https://github.com/coreos/etcd
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target
RequiresMountsFor=/var/lib/etcd

[Service]
Environment=DAEMON_ARGS=
Environment=ETCD_NAME=%H
Environment=ETCD_DATA_DIR=/var/lib/etcd/default
EnvironmentFile=-/etc/default/%p
Type=notify
PermissionsStartOnly=true
ExecStart=/usr/local/bin/etcd $DAEMON_ARGS
Restart=on-abnormal
LimitNOFILE=65536
Nice=-5

[Install]
WantedBy=multi-user.target
